.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
}

.header-section .heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-color);
}

.header-section .login-btn {
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all .3s;
    box-sizing: border-box;
}

.header-section .login-btn:hover {
    padding-left: 1.5rem;
}

@media screen and (max-width: 821px) {
    .header-section .heading {
        font-size: 18px;
    }

    .header-section .login-btn {
        font-size: 14px;
    }
}