.btn {
  padding: 12px 1.0rem;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  background-color: var(--secondary-color);
  text-decoration: none;
}

.loading {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: var(--secondary-color);
}